In [1]:
print('hello')

hello

# LISTS

- hetriogenious
- mutable

In [4]:
list1 = [3.14, 1990, "Delhi", 985, True]
list1

[3.14, 1990, 'Delhi', 985, True]

In [5]:
list1[1]

1990

In [7]:
list1[4]

True

In [17]:
myFamily = ['mom', 'dad', 'me']
myFamily

['mom', 'dad', 'me']

In [18]:
myFamily.append('sister')
myFamily

['mom', 'dad', 'me', 'sister']

In [19]:
myFamily.append('brother')
myFamily

['mom', 'dad', 'me', 'sister', 'brother']

In [20]:
myFamily.extend(['aunt', 'uncle', 'grandfa', 'grandma'])
myFamily

['mom',
 'dad',
 'me',
 'sister',
 'brother',
 'aunt',
 'uncle',
 'grandfa',
 'grandma']

In [21]:
# remove using index
myFamily.pop(5)

'aunt'

In [22]:
myFamily

['mom', 'dad', 'me', 'sister', 'brother', 'uncle', 'grandfa', 'grandma']

In [23]:
# remove using value
myFamily.remove('uncle')
myFamily

['mom', 'dad', 'me', 'sister', 'brother', 'grandfa', 'grandma']

In [24]:
myFamily.insert(5, 'uncle')
myFamily

['mom', 'dad', 'me', 'sister', 'brother', 'uncle', 'grandfa', 'grandma']

In [26]:
myFamily.sort()
myFamily

['brother', 'dad', 'grandfa', 'grandma', 'me', 'mom', 'sister', 'uncle']

In [27]:
myFamily.sort(reverse=True)
myFamily

['uncle', 'sister', 'mom', 'me', 'grandma', 'grandfa', 'dad', 'brother']

In [28]:
myFamily

['uncle', 'sister', 'mom', 'me', 'grandma', 'grandfa', 'dad', 'brother']

In [33]:
# hot to remove multiple elements from a list
# Python program to remove multiple 
# elements from a list  
  
# # creating a list 
# list1 = [11, 5, 17, 18, 23, 50]  
  
# # removes elements from index 1 to 4 
# # i.e. 5, 17, 18, 23 will be deleted 
# del list1[1:5] 
  
# print(list1)

# Tuple

- similar to a list
- hetriogenious
- not-mutable

In [36]:
firstTuple = ( 1,2,3 )
firstTuple

(1, 2, 3)

In [37]:
secondTuple = ("hrllo", True, 6.223, 5)
secondTuple

('hrllo', True, 6.223, 5)

In [38]:
secondTuple.append('hi')

AttributeError: 'tuple' object has no attribute 'append'

In [39]:
secondTuple[3] = 6

TypeError: 'tuple' object does not support item assignment

In [40]:
myFamily

['uncle', 'sister', 'mom', 'me', 'grandma', 'grandfa', 'dad', 'brother']

In [41]:
myFamilyTuple = tuple(myFamily)
myFamilyTuple

('uncle', 'sister', 'mom', 'me', 'grandma', 'grandfa', 'dad', 'brother')

In [42]:
myFamilyTuple2 = tuple(['uncle', 'sister', 'mom', 'me', 'grandma', 'grandfa', 'dad', 'brother'])
myFamilyTuple2

('uncle', 'sister', 'mom', 'me', 'grandma', 'grandfa', 'dad', 'brother')

In [43]:
myFamiltList = list(myFamilyTuple2)
myFamiltList

['uncle', 'sister', 'mom', 'me', 'grandma', 'grandfa', 'dad', 'brother']

# Create a list / tuple
- it must contain Green Blue Red
- remove Red
- add Yellow Grey Black Blue
- remove Blue
- add Purple

# Dictionary

In [64]:
student = {
    'name': 'Anu',
    'grade': 12,
    'prec': 95
}
student

{'name': 'Anu', 'grade': 12, 'prec': 95}

In [65]:
student['name']

'Anu'

In [66]:
student['prec']

95

In [67]:
student['grade']

12

In [68]:
student_two = {
    'name': 'Akhila',
    'grade': 10,
    'prec': 94.5,
    'subject_marks':{
        'english': 90,
        'maths': 95,
        'science': 99
    }
}

In [69]:
student_two['name']

'Akhila'

In [71]:
student_two['grade']

10

In [72]:
student_two['prec']

94.5

In [76]:
student_two['subject_marks']['science']

99

# Create a dictionary

- name: Gandalf
- name_movie: Lord of the Rings
- occupation: Wizard
- friends: Bilbo, Frodo

In [79]:
LOTR = {"name" : "Gandalf",
         "name_movie": "Lord of the Rings",
         "Occupation" : "Wizard",
         "Friends": ['Bilbo','Frodo']
        }
LOTR

{'name': 'Gandalf',
 'name_movie': 'Lord of the Rings',
 'Occupation': 'Wizard',
 'Friends': ['Bilbo', 'Frodo']}

In [81]:
Movie = dict(name="Gandalf",name_movie="Lord of the Rings",occupation="Wizard",friends=["bilbo","frodo"])
Movie

{'name': 'Gandalf',
 'name_movie': 'Lord of the Rings',
 'occupation': 'Wizard',
 'friends': ['bilbo', 'frodo']}

In [106]:
dict1={
    'name':'gandulf',
    'name_movie': 'Lord of rings',
    'occupation': 'Wizard',
    'friends': ['Bilbo', 'Frodo'],
}
dict1

{'name': 'gandulf',
 'name_movie': 'Lord of rings',
 'occupation': 'Wizard',
 'friends': ['Bilbo', 'Frodo']}

In [109]:
Fav_Movie=dict( [ ("name","Gandalf"), ("name_movie","Lord of the Rings"), ("occupation","Wizard"), ("friends",["bilbo","frodo"] ) ] ) #This is another method to create dictionary
Fav_Movie

{'name': 'Gandalf',
 'name_movie': 'Lord of the Rings',
 'occupation': 'Wizard',
 'friends': ['bilbo', 'frodo']}

# Sets

- hetriogenious
- unordered
- unique

In [115]:
snakes = {'python', 'cobra', 'anaconda', 'viper', 'python'}
snakes

{'anaconda', 'cobra', 'python', 'viper'}

In [118]:
languages = set(['c', 'c++', 'java', 'python', 'js'])
languages

{'c', 'c++', 'java', 'js', 'python'}

In [119]:
snakes.intersection(languages)

{'python'}

In [120]:
snakes.union(languages)

{'anaconda', 'c', 'c++', 'cobra', 'java', 'js', 'python', 'viper'}

# Loops

In [121]:
colors = ['red', 'green', 'blue', 'yellow', 'purple', 'black']
colors

['red', 'green', 'blue', 'yellow', 'purple', 'black']

In [123]:
for c in colors:
    if c == 'blue':
        print (c,'10 tins')
    else:
        print (c, '1 tin')

red 1 tin
green 1 tin
blue 10 tins
yellow 1 tin
purple 1 tin
black 1 tin

In [124]:
names = ['sagnik', 'akshay', 'anu', 'suhail', 'hari']
names

['sagnik', 'akshay', 'anu', 'suhail', 'hari']

In [125]:
for n in names:
    if n == 'suhail':
        print (n, 'its me')
    else:
        print (n, 'its not me')

sagnik its not me
akshay its not me
anu its not me
suhail its me
hari its not me

# Functions

In [129]:
#bmi
height = 1.8
weight = 75
# bmi = w / h^2
bmi = weight/ (height**2)

if bmi>=30:
    print("Obesity")
elif bmi>=25 and bmi< 30:
    print("Overweight")
elif bmi>=18.5 and bmi< 25:
    print("Normal Weight")
else:
    print("Under Weight")
    
#bmi
height = 2.5
weight = 80
# bmi = w / h^2
bmi = weight/ (height**2)

if bmi>=30:
    print("Obesity")
elif bmi>=25 and bmi< 30:
    print("Overweight")
elif bmi>=18.5 and bmi< 25:
    print("Normal Weight")
else:
    print("Under Weight")
    
#bmi
height = 2
weight = 70
# bmi = w / h^2
bmi = weight/ (height**2)

if bmi>=30:
    print("Obesity")
elif bmi>=25 and bmi< 30:
    print("Overweight")
elif bmi>=18.5 and bmi< 25:
    print("Normal Weight")
else:
    print("Under Weight")

Normal Weight
Under Weight
Under Weight

In [138]:
def bmi(height, weight):
    bmi = weight/ (height**2)
    if bmi>=30:
        print("Obesity")
    elif bmi>=25 and bmi< 30:
        print("Overweight")
    elif bmi>=18.5 and bmi< 25:
        print("Normal Weight")
    else:
        print("Under Weight")

In [139]:
bmi(1.7, 60)

Normal Weight

In [140]:
bmi(1.5, 40)

Under Weight

In [141]:
bmi(1.5, 80)

Obesity

# write a function which checks if a number is even or odd

In [159]:
def odd_even(x):
    if x%2 == 0:
        print ('even')
    else:
        print('odd')
a = odd_even(105)
print(a)

odd
None

In [154]:
def areaOfaSq (length) :
    area = length ** 2 
    return area

In [160]:
a = areaOfaSq(4)
a

16

In [158]:
a + 5

21

In [164]:
def odd_even_return(n):
    if(n%2==0):
        return("Even")
    else:
        return ("odd")
a = odd_even_return(3)        
print (a)

odd

In [163]:
a

'odd'

# https://bit.ly/3bvobTh